<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="CommonSuite" verbose="1">
<!--    <test name="commonTest">-->
<!--        <classes>-->
<!--            <class name="org.apache.iotdb.api.test.BaseTestSuite" />-->
<!--        </classes>-->
<!--        <packages>-->
<!--            <package name="org.apache.iotdb.api.test.bussiness" />-->
<!--        </packages>-->
<!--    </test> &lt;!&ndash; java-native-api-test &ndash;&gt;-->
</suite> <!-- Default Suite -->
