<!--<?xml version="1.0" encoding="UTF-8"?>-->
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="DetailSuite" verbose="1">
    <test name="DetailTest">
<!--        <classes>-->
<!--            <class name="org.apache.iotdb.api.test.detail.TestTimeSeries" />-->
<!--        </classes>-->
        <packages>
            <package name="org.apache.iotdb.api.test.detail" />
            <package name="org.apache.iotdb.api.test.template" />
        </packages>
    </test> <!-- java-native-api-test -->
</suite> <!-- Default Suite -->
